<a href="https://colab.research.google.com/github/offLaneqq/Data-Science-Camp/blob/main/hometask_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Home task: pandas

**Question 1**

Load the energy data from the file Energy Indicators.xls.
It is a list of indicators of energy supply and renewable electricity production from the United Nations for the year 2013.

It should be put into a DataFrame with the variable name of "energy"

Make sure to exclude the footer and header information from the datafile.

The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

Convert Energy Supply to gigajoules (there are 1,000,000 gigajoules in a petajoule).

For all countries which have missing data (e.g. data with ...) make sure this is reflected as np.NaN values.

Rename the following list of countries (for use in later questions):

Republic of Korea: South Korea,
United States of America: United States,
United Kingdom of Great Britain and Northern Ireland: United Kingdom,
China, Hong Kong Special Administrative Region: Hong Kong
There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, e.g.:

Bolivia (Plurinational State of) should be Bolivia,
Switzerland17 should be Switzerland.
Next, load the GDP data from the file "world_bank.csv".

It is a csv containing countries' GDP from 1960 to 2015 from World Bank. Call this DataFrame "GDP"

Make sure to skip the header, and rename the following list of countries:

**Korea, Rep.: South Korea,

Iran, Islamic Rep.: Iran,

Hong Kong SAR, China: Hong Kong**

Finally, load the "Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology". It ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame "ScimEn"

Join the three datasets: Energy, GDP, and ScimEn into a new dataset (using the intersection of country names). Use only the 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15).

The index of this DataFrame should be the name of the country, and the columns should be

['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', 2012', '2013', '2014', '2015']

Function "answer_one" should return the resulted DataFrame (20 columns and 15 entries)

In [1]:
!pip install --upgrade xlrd
import numpy as np
import pandas as pd
import io

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (2.0.1)

In [2]:
from google.colab import files
uploaded = files.upload()

In [3]:
ex = pd.read_excel('Energy Indicators.xls', skiprows=17, index_col=None, skipfooter=38)
energy = pd.DataFrame(ex)
energy = energy.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1)      #видаляю перші дві колонки
energy.rename(columns = {'Unnamed: 2':'Country', 'Petajoules': 'Energy Supply', 'Gigajoules' : 'Energy Supply per Capita', '%': '% Renewable'}, inplace = True)
energy = energy.replace('...', np.NaN)      #Заміюю пусті значення на Nan'и
energy['Energy Supply'] = energy['Energy Supply'] * 1000000       #Переводжу з петаджоулі в гігаджулі(multiply=1*10^6)
energy['Country'].replace('[0-9]+', '', regex=True, inplace=True)     #Щоб забрати верхні індекси біля назв країн
energy['Country'].replace({'Republic of Korea' : 'South Korea',
                          'United States of America': 'United States',
                          'United Kingdom of Great Britain and Northern Ireland' : 'United Kingdom',
                          'China, Hong Kong Special Administrative Region' : 'Hong Kong'}, inplace=True)
energy.replace('\([^)]*\)', '', regex=True, inplace=True)
energy['Country'] = energy['Country'].str.strip()       #забрати відступи


energy[160:220]

,Country,Energy Supply,Energy Supply per Capita,% Renewable
160,Poland,4.121000e+09,107.0,5.537899
161,Portugal,8.990000e+08,86.0,53.340300
162,Puerto Rico,5.600000e+07,15.0,1.080808
163,Qatar,1.396000e+09,664.0,0.000000
164,South Korea,1.100700e+10,221.0,2.279353
165,Republic of Moldova,9.300000e+07,23.0,5.082873
166,Réunion,5.900000e+07,70.0,28.297190
167,Romania,1.339000e+09,68.0,34.384500
168,Russian Federation,3.070900e+10,214.0,17.288680
169,Rwanda,9.500000e+07,9.0,35.835350
170,Saint Helena,0.000000e+00,40.0,9.090909
171,Saint Kitts and Nevis,4.000000e+06,73.0,0.000000
172,Saint Lucia,6.000000e+06,33.0,0.000000
173,Saint Pierre and Miquelon,1.000000e+06,162.0,2.127660
174,Saint Vincent and the Grenadines,3.000000e+06,28.0,16.666670
175,Samoa,4.000000e+06,22.0,31.355930
176,Sao Tome and Principe,3.000000e+06,14.0,10.447760
177,Saudi Arabia,7.985000e+09,264.0,0.000352
178,Senegal,1.540000e+08,11.0,1.998237
179,Serbia,6.180000e+08,69.0,27.216190
180,Seychelles,9.000000e+06,94.0,1.977401
181,Sierra Leone,6.700000e+07,11.0,64.024390
182,Singapore,1.120000e+09,207.0,0.000000
183,Sint Maarten,1.200000e+07,327.0,0.000000
184,Slovakia,7.110000e+08,131.0,20.217120
185,Slovenia,2.870000e+08,139.0,31.864240
186,Solomon Islands,6.000000e+06,11.0,0.000000
187,Somalia,1.260000e+08,12.0,0.000000
188,South Africa,6.341000e+09,119.0,1.687019
189,South Sudan,2.800000e+07,2.0,0.423729
190,Spain,4.923000e+09,106.0,37.968590
191,Sri Lanka,3.880000e+08,19.0,59.573230
192,State of Palestine,6.100000e+07,14.0,0.000000
193,Sudan,6.080000e+08,16.0,78.410480
194,Suriname,3.400000e+07,65.0,22.023810
195,Swaziland,4.900000e+07,39.0,40.677970
196,Sweden,2.044000e+09,212.0,46.598460
197,Switzerland,1.113000e+09,136.0,57.745480
198,Syrian Arab Republic,5.420000e+08,28.0,11.568270
199,Tajikistan,1.060000e+08,13.0,99.742920
200,Thailand,5.336000e+09,79.0,4.305189
201,The former Yugoslav Republic of Macedonia,1.170000e+08,56.0,26.140470
202,Timor-Leste,7.000000e+06,6.0,0.000000
203,Togo,1.340000e+08,19.0,80.180180
204,Tonga,3.000000e+06,28.0,0.000000
205,Trinidad and Tobago,8.240000e+08,611.0,0.000000
206,Tunisia,4.300000e+08,39.0,3.492547
207,Turkey,4.897000e+09,64.0,28.536690
208,Turkmenistan,1.102000e+09,210.0,0.000000
209,Turks and Caicos Islands,3.000000e+06,85.0,0.000000
210,Tuvalu,NaN,NaN,0.000000
211,Uganda,4.520000e+08,12.0,68.018180
212,Ukraine,4.844000e+09,107.0,8.067312
213,United Arab Emirates,2.710000e+09,300.0,0.000000
214,United Kingdom,7.920000e+09,124.0,10.600470
215,United Republic of Tanzania,9.940000e+08,20.0,31.072840
216,United States,9.083800e+10,286.0,11.570980
217,United States Virgin Islands,NaN,NaN,0.000000
218,Uruguay,1.960000e+08,58.0,71.605040
219,Uzbekistan,1.798000e+09,62.0,21.328410

In [4]:
wb = pd.read_csv('world_bank.csv', skiprows=3, on_bad_lines='skip')
gdp = pd.DataFrame(wb)
gdp['Country Name'].replace({'Korea, Rep.' : 'South Korea',
                             'Iran, Islamic Rep.' : 'Iran',
                             'Hong Kong SAR, China' : 'Hong Kong'}, inplace=True)
gdp = gdp.rename(columns={'Country Name' : 'Country'})
cols = [ 'Country','2006', '2007', '2008', '2009', '2010', '2011',
        '2012', '2013', '2014', '2015']
gdp_merge = gdp[cols]
print('Iran' in gdp['Country'])

gdp_merge.head()

False

,Country,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,2.469832e+09,2.677654e+09,2.843017e+09,2.553631e+09,2.453631e+09,2.637989e+09,2.615084e+09,2.727933e+09,2.791061e+09,2.963128e+09
1,Africa Eastern and Southern,5.759214e+11,6.611793e+11,7.082869e+11,7.192167e+11,8.604783e+11,9.644185e+11,9.730435e+11,9.839370e+11,1.003679e+12,9.242525e+11
2,Afghanistan,6.971286e+09,9.747880e+09,1.010931e+10,1.241616e+10,1.585668e+10,1.780511e+10,1.990732e+10,2.014640e+10,2.049713e+10,1.913421e+10
3,Africa Western and Central,3.933052e+11,4.617914e+11,5.664808e+11,5.070436e+11,5.915958e+11,6.709830e+11,7.275704e+11,8.207927e+11,8.649905e+11,7.607345e+11
4,Angola,5.238101e+10,6.526645e+10,8.853861e+10,7.030717e+10,8.169956e+10,1.094365e+11,1.249982e+11,1.334016e+11,1.372444e+11,8.721929e+10

# **Include scimagoir country rank**

In [5]:
file_name = 'scimagojr.xlsx'
sc = pd.read_excel(file_name)
ScimEn = pd.DataFrame(sc)
ScimEn = ScimEn[ScimEn['Rank'] <= 15]
ScimEn

,Rank,Country,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,Asiatic Region,303064,301778,3036531,2092737,10.02,273
1,2,United States,Northern America,184851,181106,2623922,819242,14.19,389
2,3,India,Asiatic Region,60257,58589,590570,213760,9.80,198
3,4,Japan,Asiatic Region,52780,52281,557023,132113,10.55,203
4,5,United Kingdom,Western Europe,47141,45928,748994,132737,15.89,244
5,6,Germany,Western Europe,42343,41464,528645,115432,12.48,211
6,7,Russian Federation,Eastern Europe,39424,39189,142937,67935,3.63,96
7,8,Canada,Northern America,35588,34940,665415,113363,18.70,246
8,9,Italy,Western Europe,31260,29959,433388,105641,13.86,177
9,10,South Korea,Asiatic Region,31200,30949,405923,74753,13.01,169
10,11,France,Western Europe,26848,26320,403834,73792,15.04,190
11,12,Iran,Middle East,25481,25204,398571,122647,15.64,159
12,13,Spain,Western Europe,24969,24505,427391,77583,17.12,187
13,14,Brazil,Latin America,23110,22762,219895,53635,9.52,139
14,15,Australia,Pacific Region,22803,22276,396186,62694,17.37,192

# **Merge All DataFrames**

In [6]:
#Спочатку йде об'єднання по поля Energy та ScimEn по полю спільному полю Country, потім йде ще одне об'єднання з полем gdp_merge по тому ж полі 
df_merge = pd.merge(pd.merge(energy, ScimEn, how='inner', on='Country'), gdp_merge, how='inner', on='Country')   
df_merge.set_index('Country', inplace=True)   #виставляю поле Country як індексне поле
df_merge.columns.tolist()

['Energy Supply',
 'Energy Supply per Capita',
 '% Renewable',
 'Rank',
 'Region',
 'Documents',
 'Citable documents',
 'Citations',
 'Self-citations',
 'Citations per document',
 'H index',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015']

# **Answer 1**

In [7]:
def answer_one():
    import pandas as pd
    import numpy as np
    # Load Energy Data
    ex = pd.read_excel('Energy Indicators.xls', skiprows=17, index_col=None, skipfooter=38)
    energy = pd.DataFrame(ex)
    energy = energy.drop(['Unnamed: 0', 'Unnamed: 1'], axis=1)      #видаляю перші дві колонки
    energy.rename(columns = {'Unnamed: 2':'Country', 'Petajoules': 'Energy Supply', 'Gigajoules' : 'Energy Supply per Capita', '%': '% Renewable'}, inplace = True)
    energy = energy.replace('...', np.NaN)      #Заміюю пусті значення на Nan'и
    energy['Energy Supply'] = energy['Energy Supply'] * 1000000       #Переводжу з петаджоулі в гігаджулі(multiply=1*10^6)
    energy['Country'].replace('[0-9]+', '', regex=True, inplace=True)     #Щоб забрати верхні індекси біля назв країн
    energy['Country'].replace({'Republic of Korea' : 'South Korea',
                          'United States of America': 'United States',
                          'United Kingdom of Great Britain and Northern Ireland' : 'United Kingdom',
                          'China, Hong Kong Special Administrative Region' : 'Hong Kong'}, inplace=True)
    energy.replace('\([^)]*\)', '', regex=True, inplace=True)
    energy['Country'] = energy['Country'].str.strip()       #забрати відступи
    
    # Load GDP Data
    wb = pd.read_csv('world_bank.csv', skiprows=3, on_bad_lines='skip')
    gdp = pd.DataFrame(wb)
    gdp['Country Name'].replace({'Korea, Rep.' : 'South Korea',
                             'Iran, Islamic Rep.' : 'Iran',
                             'Hong Kong SAR, China' : 'Hong Kong'}, inplace=True)
    gdp = gdp.rename(columns={'Country Name' : 'Country'})
    cols = [ 'Country','2006', '2007', '2008', '2009', '2010', '2011',
        '2012', '2013', '2014', '2015']
    gdp_merge = gdp[cols]
    
    # Load Country Rank data
    file_name = 'scimagojr.xlsx'
    sc = pd.read_excel(file_name)
    ScimEn = pd.DataFrame(sc)
    ScimEn = ScimEn[ScimEn['Rank'] <= 15]

    
    df_merge = pd.merge(pd.merge(energy, ScimEn, how='inner', on='Country'), gdp_merge, how='inner', on='Country')   
    df_merge.set_index('Country', inplace=True)   #виставляю поле Country як індексне поле
    return df_merge
    
    
answer_one()

,Energy Supply,Energy Supply per Capita,% Renewable,Rank,Region,Documents,Citable documents,Citations,Self-citations,Citations per document,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,,
Australia,5.386000e+09,231.0,11.810810,15,Pacific Region,22803,22276,396186,62694,17.37,...,7.475562e+11,8.539554e+11,1.055127e+12,9.280430e+11,1.147589e+12,1.397908e+12,1.546509e+12,1.576335e+12,1.467505e+12,1.350534e+12
Brazil,1.214900e+10,59.0,69.648030,14,Latin America,23110,22762,219895,53635,9.52,...,1.107627e+12,1.397114e+12,1.695855e+12,1.666996e+12,2.208838e+12,2.616157e+12,2.465228e+12,2.472819e+12,2.456044e+12,1.802212e+12
Canada,1.043100e+10,296.0,61.945430,8,Northern America,35588,34940,665415,113363,18.70,...,1.319265e+12,1.468820e+12,1.552990e+12,1.374625e+12,1.617343e+12,1.793327e+12,1.828366e+12,1.846597e+12,1.805750e+12,1.556509e+12
China,1.271910e+11,93.0,19.754910,1,Asiatic Region,303064,301778,3036531,2092737,10.02,...,2.752132e+12,3.550343e+12,4.594307e+12,5.101703e+12,6.087164e+12,7.551500e+12,8.532230e+12,9.570406e+12,1.047568e+13,1.106155e+13
France,1.059700e+10,166.0,17.020280,11,Western Europe,26848,26320,403834,73792,15.04,...,2.320536e+12,2.660591e+12,2.930304e+12,2.700887e+12,2.645188e+12,2.865158e+12,2.683672e+12,2.811877e+12,2.855964e+12,2.439189e+12
Germany,1.326100e+10,165.0,17.901530,6,Western Europe,42343,41464,528645,115432,12.48,...,2.994704e+12,3.425578e+12,3.745264e+12,3.411261e+12,3.399668e+12,3.749315e+12,3.527143e+12,3.733805e+12,3.889093e+12,3.357586e+12
India,3.319500e+10,26.0,14.969080,3,Asiatic Region,60257,58589,590570,213760,9.80,...,9.402599e+11,1.216735e+12,1.198896e+12,1.341887e+12,1.675615e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.039127e+12,2.103588e+12
Iran,9.172000e+09,119.0,5.707721,12,Middle East,25481,25204,398571,122647,15.64,...,2.662989e+11,3.498816e+11,4.123362e+11,4.163970e+11,4.868076e+11,6.261331e+11,6.440355e+11,4.927756e+11,4.603828e+11,4.082129e+11
Italy,6.530000e+09,109.0,33.667230,9,Western Europe,31260,29959,433388,105641,13.86,...,1.949552e+12,2.213102e+12,2.408655e+12,2.199929e+12,2.136100e+12,2.294994e+12,2.086958e+12,2.141924e+12,2.162010e+12,1.836638e+12
Japan,1.898400e+10,149.0,10.232820,4,Asiatic Region,52780,52281,557023,132113,10.55,...,4.601663e+12,4.579751e+12,5.106679e+12,5.289493e+12,5.759072e+12,6.233147e+12,6.272363e+12,5.212328e+12,4.896994e+12,4.444931e+12
South Korea,1.100700e+10,221.0,2.279353,10,Asiatic Region,31200,30949,405923,74753,13.01,...,1.053217e+12,1.172614e+12,1.047339e+12,9.439419e+11,1.144067e+12,1.253223e+12,1.278428e+12,1.370795e+12,1.484318e+12,1.465773e+12
Russian Federation,3.070900e+10,214.0,17.288680,7,Eastern Europe,39424,39189,142937,67935,3.63,...,9.899305e+11,1.299706e+12,1.660846e+12,1.222644e+12,1.524917e+12,2.045926e+12,2.208296e+12,2.292473e+12,2.059242e+12,1.363481e+12
Spain,4.923000e+09,106.0,37.968590,13,Western Europe,24969,24505,427391,77583,17.12,...,1.260399e+12,1.474003e+12,1.631863e+12,1.491473e+12,1.422108e+12,1.480710e+12,1.324744e+12,1.355143e+12,1.371223e+12,1.195600e+12
United Kingdom,7.920000e+09,124.0,10.600470,5,Western Europe,47141,45928,748994,132737,15.89,...,2.717060e+12,3.106182e+12,2.938882e+12,2.425798e+12,2.491110e+12,2.674891e+12,2.719158e+12,2.803291e+12,3.087166e+12,2.956574e+12
United States,9.083800e+10,286.0,11.570980,2,Northern America,184851,181106,2623922,819242,14.19,...,1.381559e+13,1.447423e+13,1.476986e+13,1.447806e+13,1.504896e+13,1.559973e+13,1.625397e+13,1.684319e+13,1.755068e+13,1.820602e+13

# **Answer 2**

In [8]:
def answer_two():
    Top15 = answer_one()
    Top15['avgGDP'] = answer_one()[cols[1:]].mean(axis=1)
    return Top15.sort_values('avgGDP',ascending=False)['avgGDP']
    

answer_two()

Country
United States         1.570403e+13
China                 6.927702e+12
Japan                 5.239642e+12
Germany               3.523342e+12
United Kingdom        2.792011e+12
France                2.691337e+12
Italy                 2.142986e+12
Brazil                1.988889e+12
Russian Federation    1.666746e+12
Canada                1.616359e+12
India                 1.602352e+12
Spain                 1.400727e+12
South Korea           1.221372e+12
Australia             1.207106e+12
Iran                  4.563261e+11
Name: avgGDP, dtype: float64

# **Answer 3**

In [9]:
def answer_three():
    Top15 = answer_one()
    Top15['avgGDP'] = answer_two()
    Top15.sort_values('avgGDP', ascending=False, inplace=True)
    start = Top15.iloc[5]['2006']
    stop = Top15.iloc[5]['2015']
    return abs(stop - start)
    
answer_three()

118652421857.7998

# **Answer 4**

In [10]:
def answer_four():
  Top15 = answer_one()
  Top15['Ratio'] = Top15['Self-citations'] / Top15['Citations']
  #return Top15['Ratio']
  return Top15.iloc[Top15['Ratio'].argmax()].name, Top15['Ratio'].max()

answer_four()

('China', 0.689186772669207)

# **Answer 5**

In [11]:
def answer_five():
    Top15 = answer_one()
    Top15['Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    srt = Top15.sort_values('Population',ascending = False)
    #return srt['Population'].max()
    return srt.iloc[2].name

answer_five()

'United States'

# **Answer 6**

In [12]:
def answer_six():
    Top15 = answer_one()
    Top15['Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable documents per person'] = Top15['Citable documents'] / Top15['Population']
    return Top15['Citable documents per person'].corr(Top15['Energy Supply per Capita'])

answer_six()

0.7272331912434825

# **Answer 7**

In [13]:
def answer_seven():
    Top15 = answer_one()
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    df_groups = pd.DataFrame(columns=['size', 'sum', 'mean', 'std'])
    Top15['Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    dictionary = Top15.groupby(ContinentDict)
    for group, frame in dictionary:
        df_groups.loc[group] = [len(frame), frame['Population'].sum(),
                                            frame['Population'].mean(), 
                                            frame['Population'].std()]
    return df_groups

answer_seven()

               size           sum          mean           std
Asia            5.0  2.898666e+09  5.797333e+08  6.790979e+08
Australia       1.0  2.331602e+07  2.331602e+07           NaN
Europe          6.0  4.579297e+08  7.632161e+07  3.464767e+07
North America   2.0  3.528552e+08  1.764276e+08  1.996696e+08
South America   1.0  2.059153e+08  2.059153e+08           NaN